Welcome to YakGroups!

YakGroups is a tool to help college students better organize group projects!

Group Description provided by {{ group_leader.first_name }}:
{{ description }}

If you have never used YakGroups before, click here to setup your account and you will be taken to the YakGroups site afterwards:
http://www.yakgroups.com/{{ url }}/members/userProfile/{{ user.unique_url }}/

If you have used YakGroups, great! Click here to go to the new YakGroups site that you were invited to!
http://www.yakgroups.com/{{ url }}

Thanks!

If you have any comments / questions, please visit us at http://forums.yakgroups.com