{% extends "base.html" %}

{% block title %}
YakGroups Login
{% endblock title %}

{% block headCSS %}
{{ CSSa|safe }}
{% endblock headCSS %}

{% block headJS %}
<script type="text/javascript" src="{{ JQUERYUI_URL }}"></script>
<script type="text/javascript">

	$(function(){
		$('.ui-state-default').live("mouseover", function(){$(this).addClass('ui-state-hover');})
		$('.ui-state-default').live("mouseout", function(){$(this).removeClass('ui-state-hover');})

	});
</script>
{% endblock headJS %}

{% block body %}
<div style="padding: 15px;">
<h1>Welcome!</h1>

<form action="" method="post">
<table style="width: 300px;">
	{{ login_form.as_table }}
</table>
<input type="submit" class="ui-state-default" name="Login" value="Login" />
</form>
</div>
{% endblock body %}