<div id="quickTour" class="quickTour">
	<h3>Quick Add ToDos</h3>
	<img class="bodyImg" alt="Quick Add Screenshot" src="{{ MEDIA_URL }}/images/quickTour/quickAdd.png" />
	<div>Use the Quick Add to assign ToDo's to people and due dates. It can handle many different ways to assign due dates. For example: "Phase III due in 5 days by Bill and Sally"</div>

	<h3>ToDo List</h3>
	<img class="bodyImg" alt="ToDo List Screenshot" src="{{ MEDIA_URL }}/images/quickTour/todoList.png" />
	<div>Drag and Drop the ToDo's into the right order. Click the check mark to mark an ToDo complete.</div>

	<h3>ToDo Details</h3>
	<img class="bodyImg" alt="ToDo List Screenshot" src="{{ MEDIA_URL }}/images/quickTour/todoDetails.png" />
	<div>Click the "View ToDo Details" button to see info about a ToDo and to edit the ToDo.</div>

	<h3>Calendar</h3>
	<img class="bodyImg" alt="ToDo List Screenshot" src="{{ MEDIA_URL }}/images/quickTour/calendar.png" />
	<div>Drag ToDo's onto the calendar to assign or reassign a due date. Also, drag ToDo's already on the calendar around to reassign the due date.</div>

	<h3>Discussions</h3>
	<img class="bodyImg" alt="ToDo List Screenshot" src="{{ MEDIA_URL }}/images/quickTour/newDiscussion.png" />
	<div>Visit the "Discuss" tab to start discussions with your group members. You can drag ToDo's onto discussions so all your group members know exactly which ToDo's you're talking about. </div>

</div>