/* @override 
	http://yg.com:8800/static/css/YG-Homepage.css
	http://localhost:8800/static/css/YG-Homepage.css
*/

.header{
	margin: 0 0 .25em;
}
.head1, .head2{
	font-size: 1.7em;
}
.head1{
	color: #224466;
}
.head2{
	color: #336699;
}
.head3{
	color: #AA2124;
	font-size: .65em;
	position: absolute;
	top: 0px;
}
.linksBar{
	position: absolute;
	width: 200px;
	top: -15px;
	right: 0;
}
.yakImg {
	vertical-align: middle;
	height: 2.5em;
}
.tagline{
	margin-bottom: .5em;
}
.promotion{
	font-size: 1.6em;
	padding: 0;
	text-align: center;
}
.promo{
	text-align: center;
	background-color: #6699CC;
	font-size: 1.40em;
	color: #fff;
	cursor: default;
}

#promo_1, #promo_3{
	width: 220px;
}
#promo_2{
	width: 330px;
}

.promo-hover{
	background-color: #F78D32;
}
.bodyImg {
	vertical-align: middle;
	height: 22em;
	width: 28em;
	border: 1px solid;
	margin: 1em 0 0 1em;
}
.intro{
	font-size: 1.8em;
	padding: 0;
	text-align: center;
	font-weight: bold;
	margin: -.5em 0 .5em;
}
.body{
	background-color: #C2D8ED;
	margin-top: -1em;
}
.bodyLeft, .bodyRight{
	height: 26em;
}

.bodyLeft{
	/*margin: 1em 0 0 1em;*/
}

.captionText{
	margin-left: 1em;
	text-align: center;
}

.action{
	text-align: center;
	margin: 3.5em auto 0;
	width: 90%;
	white-space: nowrap;
}
.description{
	font-size: 2em;
	margin-bottom: 2.5em;
	height: 8em;
	position: absolute;
	bottom: 0;
}
.steps{
	position: relative;
	left: 26px;
	font-size: .90em;
}

button {
border: 0 none;
cursor: pointer;
font-weight: bold;
padding: 0 15px 0 0;
text-align: center;
height: 30px;
line-height: 30px;
width: auto;
}

button span {
display: block;
padding: 0 0 0 15px;
position: relative;
white-space: nowrap;
height: 30px;
line-height: 30px;
font-size: 13px;
}

button.rounded:hover {
background-position: 100% -30px;
}

button.rounded:hover span {
background-position: 0% -30px;
}

button::-moz-focus-inner {
border: none;
}

