{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=8" />
		
		<title>{% block title %} UNSET DOC TITLE {% endblock title %}</title>
		
		<script type="text/javascript" src="{{ JQUERY_URL }}"></script>
		{% block headCSS %}{% endblock headCSS %}
		
		{% block headJS %}{% endblock headJS %}
		
	</head>
	<body>
		{% block body %}
		{% endblock body %}
	</body>
</html>
{% endspaceless %}